/* Image compressors used: 
    https://tinypng.com/
    https://www.wecompress.com/ */

/* Body Background */
#home-bg {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, .9)), url("../images/back7Tiny.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
#contact-bg {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, .6)), url("../images/coffee2Tiny.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
#about-bg {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, .5)), url("../images/road1Tiny.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
#projects-bg {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, .5)), url("../images/skyTiny.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    background-attachment: fixed;
}
#skills-bg {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, .5)), url("../images/sky2Tiny.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    background-attachment: fixed; 
}
/* Profile Image on Home Page */
.centerPage {
    top: 5%;
    left: 5%;
    position: absolute;
    width: 90%;
    height: 93%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.pageHomeLeft {
    text-align: left;
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 9%;
}
.pageImage {
    margin: 57% 10% 57% 7%;
    width: 80%;
    height: 0;
    float: left;
    position: initial;
    right: 0;
    top: 0;
    background: url(../images/colorMeTiny.jpg);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea !important;
    padding-bottom: 80%;
   
    /* Slide Down Effect */
    opacity: 0;
    animation-name: slideDown;
	-webkit-animation-name: slideDown;	
	animation-duration: 2s;	
	-webkit-animation-duration: 2s;
	animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;
    visibility: visible !important;	
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; 

    /* Fade In Effect */
    /* opacity: 0;
    animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	
	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;	
    visibility: visible !important;	
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; */
}
.pageHomeRight {
    text-align: left;
    float: left;
    margin-top: 90%;
    height: 24%;
}
.char {
    position: relative;
    display: inline-block;
    visibility: inherit;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    margin-bottom: 35px;
    white-space: nowrap;
    overflow: hidden;
}
.char0, .char7, .char9, .char11 {
    text-align: left;
}
.char21, .char23, .char27, .char29 {
    text-align: left;
}
/* Left side words */
.char0 {
    left: 10%;
    opacity: 0;
    -webkit-animation: type 3s steps(50) 1;
    animation: type 2s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
}
.char7 {
    left: 18%;
    opacity: 0;
    -webkit-animation: type 2s steps(50) 1;
    animation: type 2s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}
.char9 {
    left: 26%;
    opacity: 0;
    -webkit-animation: type 2s steps(50) 1;
    animation: type 2s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.char11 {
    left: 34%;
    opacity: 0;
    -webkit-animation: type 3s steps(50) 1;
    animation: type 3s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
/* Right side Words */
.char21 {
    left: 17%;
    opacity: 0;
    -webkit-animation: type 3s steps(50) 1;
    animation: type 3s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}
.char23 {
    left: 25%;
    opacity: 0;
    -webkit-animation: type 2s steps(50) 1;
    animation: type 2s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.char27 {
    left: 33%;
    opacity: 0;
    -webkit-animation: type 2s steps(50) 1;
    animation: type 2s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.char29 {
    left: 41%;
    opacity: 0;
    -webkit-animation: type 3s steps(50) 1;
    animation: type 3s steps(50) 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
}
/* TypeWriter Animation Keyframes */
@keyframes type {
    0% {
        width: 0;
        opacity: 0;
    }
    99.9% {
        border-right: .15em #00ffea;
        opacity: 1;
    }
    100% {
        border: none;
        width: 100%;
        opacity: 1;
    }
}
@-webkit-keyframes type {
    0% {
        width: 0;
        opacity: 0;
    }
    99.9% {
        border-right: .15em #00ffea;
        opacity: 1;
    }
    100% {
        border: none;
        width: 100%;
        opacity: 1;
    }
}
@keyframes type2 {
    0% {
        width: 0;
        opacity: 0;
    }
    99.9% {
        border-right: .15em #00ffea;
        opacity: 1;
    }
    100% {

        opacity: 1;
    }
}
@-webkit-keyframes type2 {
    0% {
        width: 0;
        opacity: 0;
    }
    99.9% {
        border-right: .15em #00ffea;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
/* Slide Down Animation For Profile Image */

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

@keyframes slideDown {
	0% {
        transform: translateY(-100%);
        opacity: 0;
	}
	50%{
        transform: translateY(8%);
        opacity: 1;
	}
	65%{
        transform: translateY(-4%);
        opacity: 1;
	}
	80%{
        transform: translateY(4%);
        opacity: 1;
	}
	95%{
        transform: translateY(-2%);
        opacity: 1;
	}			
	100% {
        transform: translateY(0%);
        opacity: 1;
	}		
}

@-webkit-keyframes slideDown {
	0% {
        -webkit-transform: translateY(-100%);
        opacity: 0;
	}
	50%{
        -webkit-transform: translateY(8%);
        opacity: 1;
	}
	65%{
        -webkit-transform: translateY(-4%);
        opacity: 1;
	}
	80%{
        -webkit-transform: translateY(4%);
        opacity: 1;
	}
	95%{
        -webkit-transform: translateY(-2%);
        opacity: 1;
	}			
	100% {
        -webkit-transform: translateY(0%);
        opacity: 1;
	}	
}

/* Contact page */
.contactContainer {
    left: 10%;
    top: 5%;
    width: 80%;
    height: 70%;
    position: absolute;
}
.form-control {
    font-size: 16px;
    margin-bottom: 35px;
    width: 48%;
    height: 88%;
    padding: 15px;
    border: 1px solid #00ffea;
    background-color: rgb(10, 10, 10);
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    opacity: .9;
    letter-spacing: 1.4px;
}
#submitButton {
    padding: 15px;
    border: 1px solid #00ffea;
    background-color: rgb(10, 10, 10);
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 16px;
    display: block;
}
.contactMe {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 50px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
}
.contactText {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    width: 49%;
    letter-spacing: 1.4px;
    line-height: 1.6;
}
/* About Me */
.aboutContainer {
    top: 5%;
    left: 10%;
    width: 40%;
    height: 100%;
    position: absolute;
}
.aboutMe {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 50px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
}
.aboutText {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    width: 100%;
    letter-spacing: 1.4px;
    line-height: 1.6;
}
#signature {
    background: url(../images/tealSig.png);
    z-index: 10;
    width: 53%;
    /* height: 10%; */
    background-size: contain;
    padding-bottom: 23%;
    margin-left: 46%;
    margin-top: 2%;
}
.aboutImages {
    top: 5%;
    right: 0;
    width: 45%;
    height: 100%;
    position: absolute;
}
#aboutMePic1 {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../images/tigerTiny.jpeg);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea;
    display: block;
}
#aboutImage1 {
    width: 25vw;
    height: 35vh;
    right: 0%;
    top: 4%;
    display: block;
    padding-bottom: 28px;
}
#aboutMePic2 {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../images/golfTiny.JPG);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea;
    display: block;
}
#aboutImage2 {
    right: 0;
    width: 20vw;
    height: 30vh;
    position: fixed;
    top: 27%;
    display: block;
    float: right;
    padding-right: 10px;
}
#aboutMePic3 {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../images/chinaTiny.jpg);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea;
    margin-right: 9px;
}
#aboutImage3 {
    width: 22vw;
    height: 34vh;
    right: 0%;
    top: 61%;
    padding-right: 20px;
    padding-left: 2px;
}
#aboutMePic4 {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../images/lamboTiny.jpg);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea;
}
#aboutImage4 {
    width: 22vw;
    height: 33vh;
    position: fixed;
    right: 3%;
    top: 66%;
}
/* Skills Page */
.skillsContainer {
    top: 5%;
    left: 10%;
    position: absolute;
}
.skillsContent {
    display: inline-block;
}
.mySkills {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 50px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
}
.skillsText {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
}
.skillsListLeft {
    float: left;
    width: 45%;
    font-weight: normal !important;
    margin-top: 50px;
}
.skillsListRight {
    float: left;
    width: 45%;
    font-weight: normal !important;
    margin-left: 6px;
    margin-top: 50px;
}
.skillsContent2 {
    display: inline-block;
}
.skillsText2 {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
}
.skillsListLeft2 {
    float: left;
    width: 45%;
    font-weight: normal !important;
    margin-top: 50px;
}
.skillsListRight2 {
    float: left;
    width: 45%;
    font-weight: normal !important;
    margin-left: 6px;
    margin-top: 50px;
}
/* Projects Page */
.projectHeaderContainer {
    top: 5%;
    left: 9%;
    width: 90%;
    height: 34%;
    position: absolute;
}
.projectsTitle {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 50px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
}
.projectText {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    width: 100%;
    letter-spacing: 1.4px;
    line-height: 1.6;
}
.projectContentContainer {
    height: 60%;
    width: 100%;
}
.project1 {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}
.project1Desc {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 16px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    width: 95%;
    float: left;
}
.project1Title {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.project1Image {
    width: 95%;
    background: url(../images/screenTiny.png);
    background-size: cover;
    float: left;
    margin-top: 5px;
    padding-bottom: 47%;

}
.project2 {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}
.project2Title {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.project2Image {
    width: 95%;
    background: url(../images/trainTiny.png);
    background-size: cover;
    float: left;
    margin-top: 5px;
    padding-bottom: 47%;
}
.project2Desc {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 16px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    width: 95%;
    float: left;
}
.project3 {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}
.project3Title {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.project3Desc {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 16px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    width: 95%;
    float: left;
}
.project3Image {
    width: 95%;
    background: url(../images/giphyTiny.png);
    background-size: cover;
    float: left;
    margin-top: 5px;
    padding-bottom: 47%;
}
/* Navbar styling */
.nav {
    background-color: rgb(10, 10, 10);
    display: block;
    width: 58px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.nav a {
   display: block;
   width: 55px; 
}
/* Full list of icons */
.logo {
    top: 0%;
    left: 0%;
}
#siteLogo {
    width: 55px;
    height: 99px;
    padding-left: 4px;
}
.nav ul { 
    margin: 0;
    padding: 0;
    top: 33%;
    position: absolute;
}
.nav li {
    font-size:12pt;
    display:block;
    height:60px;
    width:55px;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.nav .home {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .about {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .skills {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .projects {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .contact {
    background-color: rgb(10, 10, 10);
   text-align: center;
}
.nav li a {
    font-family: FontAwesome;
    color:#eee;
    font-size:26px;
    text-decoration: none;
    display: block;
    position: relative;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.nav li i {
    padding-top: 7px;
    color: #00ffea;
}
.nav li b {
    font-size: 10px;
    display: none;
    padding-top: 15px;
    padding-bottom: 7.5px;
    font-family: 'Quicksand', sans-serif;
}
.nav a:hover {
    color: #00ffea;
}
.nav a:hover i {
    display: none;
}
.nav a:hover b {
    display: block;
}
/* Links */
.links {
    text-align: center;
    top: 86%  !important;
}


/* Media Queries */


/* Navbar move to top below 600px */
@media only screen and (max-width: 600px) {

    .contactContainer {
        width: 83%;
        left: 6% !important;
    }
    .contactText {
        width: 90%;
    }
    .form-control {
        width: 73%;
    }
    #submitButton {
        margin: auto;
    }
    #contactForm { 
        margin-top: 20px;
    }
    .nav {
        width: 100%;
        height: 70px;
        z-index: 10;
        position: fixed !important;
    }
    .nav .home {
        margin-left: 15%;
    }

    #siteLogo {
        width: 33px;
        height: 63px;
        padding-left: 4px;
    }
    .nav li {
        float: left;
        width: 10%;
        height: 50px;
        padding: 0 6% 0 0;
    }
    .nav a {
        width: 100%;
    }
    .contactMe {
        margin-top: 40px;
        width: 100%;
        margin: 40px auto 0 auto;
    }
    .nav ul {
        margin: 6px 0 0 0;
        padding: 0;
        top: 0%;
        position: absolute;
        float: left;
        height: 100%;
        width: 100%;
    }
    .links {
        right: 11%;
        top: 0 !important;
        margin: 4px 0 0 0 !important;
    }
    .gitHub {
        display: none !important;
    }
    .linkedIn {
        display: none !important;
    }
    .centerPage {
        top: 5%;
        left: 0;
        position: absolute;
        width: 100%;
        height: 93%;
        display: block;
        grid-template-columns: 0;
    }
    .pageHomeLeft {
        text-align: center;
        width: 100%;
        height: 30%;
        float: left;
        margin-top: 16%;
        display: inline-block;
    }
    .pageImage {
        margin: 10% 15%;
        width: 70%;
        height: 0;
        float: left;
        position: initial;
        right: 0;
        top: 0;
        background: url(../images/colorMeTiny.jpg);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        padding-bottom: 70%;
        display: inline-block;
    }
    .pageHomeRight {
        text-align: center;
        float: left;
        width: 100%;
        margin-top: 3%;
    }
    .char {
        margin-bottom: 20px;
        position: inherit;
        left: 0;
        height: 27%;
        text-align: center;
    }
    .projectsTitle {
        margin-top: 10%;
    }
    .projectHeaderContainer {
        left: 7%;
    }
    .aboutImages {
        top: 111%;
        width: 88%;
        left: 10%;
        margin-top: 8%;
        height: auto;
    }
    #aboutMePic1 {
        height: auto;
        width: 100%;
        margin: auto;
        background: url(../images/tigerTiny.jpeg);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
        padding-bottom: 100%;
        margin-right: 2%;
    }
    #aboutMePic2 {
        height: auto;
        width: 100%;
        margin: auto;
        background: url(../images/golfTiny.JPG);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
        padding-bottom: 100%;
    }
    #aboutMePic3 {
        height: auto;
        width: 100%;
        margin: auto;
        background: url(../images/chinaTiny.JPG);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
        padding-bottom: 100%;
    }
    #aboutMePic4 {
        height: auto;
        width: 100%;
        margin: auto;
        background: url(../images/lamboTiny.jpg);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
        padding-bottom: 100%;
    }
    .aboutContainer {
        width: 90%;
        left: 5%;
    }
    .aboutText {
        width: 100%;
    }
    #aboutImage1 {
        width: 92%;
        height: inherit;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 0;
        float: left;
        position: relative;
        margin-bottom: 5%;
    }
    #aboutImage2 {
        width: 92%;
        height: inherit;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 0;
        float: left;
        position: relative;
        margin-bottom: 5%;
    }
    #aboutImage3 {
        width: 92%;
        height: inherit;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 0;
        float: left;
        position: relative;
        margin-bottom: 5%;
    }
    #aboutImage4 {
        width: 92%;
        height: inherit;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 0;
        float: left;
        position: relative;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 400px) {
    .contactContainer {
        width:100%;
        left: 6%;
    }
    .contactText {
        width: 90%;
    }
    .form-control {
        width: 78%;
    }
    #submitButton {
        margin: 0;
    }
    .skillsContainer {
        top: 5%;
        left: 6%;
        position: absolute;
    }
    .mySkills {
        margin-top: 10%;
    }
    .skillsText {
        font-family: 'Rubik', sans-serif;
        color: #00ffea;
        font-size: 20px;
        padding-bottom: 3%;
        letter-spacing: 1.4px;
        line-height: 1.6;
    }
    .skillsListLeft {
        float: left;
        width: 82%;
        font-weight: normal !important;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .skillsListRight {
        float: left;
        width: 82%;
        font-weight: normal !important;
        /* margin-left: 6px; */
        margin-top: 0;
    }
    .skillsListLeft2 {
        float: left;
        width: 82%;
        font-weight: normal !important;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .skillsListRight2 {
        float: left;
        width: 82%;
        font-weight: normal !important;
        margin-left: 0;
        margin-top: 0;
    }
    .aboutContainer {
        top: 10%;
    }
}

/* Skills and contact page resize */
@media only screen and (min-width: 400px) and (max-width: 1000px) {
     /* Skills Page */
    .mySkills {
        margin-top: 10%;
    }
    .skillsText {
        width: 92%;
        text-align: left;
    }
    .skillsListLeft {
        width: 92%;
        margin-left: 6%;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .skillsListRight {
        width: 92%;
        margin-left: 6%;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .skillsListLeft2 {
        width: 92%;
        margin-left: 6%;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .skillsListRight2 {
        width: 92%;
        margin-left: 6%;
        padding-left: 0;
        margin-top: 0;
    }
    /* Contact Page */
    .contactMe {
        text-align: center;
    }
    .contactText {
        margin: auto;
        width: 100%;
        text-align: center;
        left: 13%;
        padding-left: 13px;
    }
    #contactForm {
        margin: auto;
        width: 90%;
    }
    .form-control {
        width: 100%;
        text-align: center;
    }
    #submitButton {
        margin: auto;
    }
}

@media only screen and (min-width: 400px) and (max-width: 859px) {
    .contentContainer {
        position: absolute;
        display: inline-block;
        margin-top: 10%;
    }
    .aboutContainer {
        width: 88%;
        height: 100%;
        position: initial;
        margin-left: 5%;
        margin-top: 4%;
    }
    .aboutText {
        font-family: 'Rubik', sans-serif;
        color: #00ffea;
        font-size: 20px;
        padding-bottom: 3%;
        width: 100%;
        letter-spacing: 1.4px;
        line-height: 1.6;
    }
}

@media only screen and (min-width: 600px) and (max-width: 859px) {
    .projectHeaderContainer {
        top: 5%;
        left: 11%;
        width: 90%;
        height: 34%;
        position: absolute;
    }
    .contentContainer {
        position: absolute;
        display: inline-block;
        margin-top: 10%;
    }
    .aboutContainer {
        width: 88%;
        height: 100%;
        position: initial;
        margin-left: 5%;
        margin-top: 4%;
    }
    .aboutText {
        font-family: 'Rubik', sans-serif;
        color: #00ffea;
        font-size: 20px;
        padding-bottom: 3%;
        width: 100%;
        letter-spacing: 1.4px;
        line-height: 1.6;
    }
    .aboutImages {
        top: 91%;
        width: 88%;
        left: 10%;
        margin-top: 70px;
    }
    #aboutImage1 {
        width: 40vw;
        height: 35vh;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 68px;
        float: left;
        position:relative;
    }
    #aboutImage2 {
        float: right;
        width: 40vw;
        height: 35vh;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 68px;
        position:relative;
        padding-right: 0;
    }
    #aboutImage3 {
        width: 40vw;
        height: 35vh;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 28px;
        float: left;
        position:relative;
        padding-left:0;
        padding-right: 0;
    }
    #aboutImage4 {
        width: 40vw;
        height: 35vh;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 28px;
        float: right;
        position:relative;
    }
    .aboutContainer {
        width: 88%;
        height: 100%;
        position: initial;
        margin-left: 10%;
        margin-top: 4%;
    }
    .contentContainer {
        margin-top: 0;
    }
    .aboutImages {
        top: 91%;
        width: 88%;
        left: 10%;
        margin-top: 20%;
        height: auto;
    }
    #aboutImage1 {
        width: 48%;
        height: inherit;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 0;
        float: left;
        position: relative;
        margin-right: 3%;
    }
    #aboutMePic1 {
        height: auto;
        width: 100%;
        margin: auto;
        background: url(../images/tigerTiny.jpeg);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
        padding-bottom: 100%;
        margin-right: 2%;
    }
    #aboutImage2 {
        width: 48%;
        height: inherit;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 3%;
        float: left;
        position: relative;
    }
    #aboutMePic2 {
        height: auto;
        width: 100%;
        margin: auto;
        background: url(../images/golfTiny.JPG);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
        padding-bottom: 100%;
    }
    #aboutImage3 {
        width: 48%;
        height: inherit;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 48%;
        float: left;
        position: relative;
        padding-right: 3%;
    }
    #aboutMePic3 {
        height: auto;
        width: 100%;
        margin: auto;
        background: url(../images/chinaTiny.JPG);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
        padding-bottom: 100%;
    }
    #aboutImage4 {
        width: 48%;
        height: inherit;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 48%;
        float: left;
        position: relative;
    } 
    #aboutMePic4 {
        height: auto;
        width: 100%;
        margin: auto;
        background: url(../images/lamboTiny.jpg);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
        padding-bottom: 100%;
    }
}

@media only screen and (min-width: 860px) and (max-width: 1060px) {
    .aboutImages {
        top: 5%;
        right: 0;
        width: 45%;
        height: 100%;
        position: absolute;
    }
    #aboutMePic1 {
        height: 100%;
        width: 100%;
        margin: auto;
        background: url(../images/tigerTiny.jpeg);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
    }
    #aboutImage1 {
        width: 29vw;
        height: 28vh;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 28px;
    }
    #aboutMePic2 {
        height: 100%;
        width: 100%;
        margin: auto;
        background: url(../images/golfTiny.JPG);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        display: block;
    }
    #aboutImage2 {
        right: 0;
        width: 22vw;
        height: 24vh;
        position: fixed;
        top: 24%;
        display: block;
        float: right;
        padding-right: 5px;
        padding-top: 36px;
    }
    #aboutMePic3 {
        height: 100%;
        width: 100%;
        margin: auto;
        background: url(../images/chinaTiny.JPG);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
        margin-right: 9px;
    }
    #aboutImage3 {
        width: 24vw;
        height: 27vh;
        right: 0%;
        top: 63%;
        padding-right: 8px;
        padding-left: 0px;
        padding-top: 63px;
    }
    #aboutMePic4 {
        height: 100%;
        width: 100%;
        margin: auto;
        background: url(../images/lamboTiny.jpg);
        background-size: cover;
        border-radius: 50%;
        border: solid 1px #00ffea;
    }
    #aboutImage4 {
        width: 25vw;
        height: 25vh;
        position: fixed;
        right: 3%;
        top: 68%;
    }
}

@media only screen and (min-width: 1061px) and (max-width: 1150px) {
    #aboutImage1 {
        width: 25vw;
        height: 29vh;
        right: 0%;
        top: 4%;
        display: block;
        padding-bottom: 28px;
    }
    #aboutImage2 {
        right: 0;
        width: 22vw;
        height: 27vh;
        position: fixed;
        top: 27%;
        display: block;
        float: right;
        padding-right: 10px;
    }
    #aboutImage3 {
        width: 25vw;
        height: 29vh;
        right: 0%;
        top: 63%;
        padding-right: 20px;
        padding-left: 2px;
        padding-top: 81px;
    }
    #aboutImage4 {
        width: 22vw;
        height: 27vh;
        position: fixed;
        right: 3%;
        top: 71%;
    }
}

@media only screen and (min-width: 1151px) and (max-width: 1325px) {
        #aboutImage1 {
            width: 25vw;
            height: 32vh;
            right: 0%;
            top: 4%;
            display: block;
            padding-bottom: 28px;
        }
        #aboutImage2 {
            right: 0;
            width: 22vw;
            height: 28vh;
            position: fixed;
            top: 27%;
            display: block;
            float: right;
            padding-right: 10px;
        }
        #aboutImage3 {
            width: 23vw;
            height: 31vh;
            right: 0%;
            top: 61%;
            padding-right: 20px;
            padding-left: 2px;
            padding-top: 38px;
        }
        #aboutImage4 {
            width: 22vw;
            height: 28vh;
            position: fixed;
            right: 3%;
            top: 68%;
        }
    }

@media only screen and (min-width: 845px) and (max-width: 1260px) {
        .pageImage {
            margin: 57% 10% 57% 15%;
        }
    }

@media only screen and (min-width: 600px) and (max-width: 1000px) {
        .contactContainer {
            left: 12%;
            top: 5%;
            width: 80%;
            height: 70%;
            position: absolute;
            margin: auto;
        }
    }

@media only screen and (min-width: 600px) and (max-width: 1050px) {
        .centerPage {
            top: 5%;
            left: 8%;
            position: absolute;
            width: 90%;
            height: 98%;
            display: block;
            grid-template-columns: 0;
        }
        .pageHomeLeft {
            text-align: center;
            width: 100%;
            height: 24%;
            float: left;
            margin-top: 0;
        }
        .char {
            margin-bottom: 20px;
            position: inherit;
            left: 0;
            text-align: center;
        }
        .pageImage {
            margin: 9% 18%;
            width: 60%;
            height: 0;
            float: left;
            position: initial;
            right: 0;
            top: 0;
            background: url(../images/colorMeTiny.jpg);
            background-size: cover;
            border-radius: 50%;
            border: solid 1px #00ffea;
            padding-bottom: 60%;
        }
        .pageHomeRight {
            text-align: center;
            float: left;
            width: 100%;
            margin-top: 0%;
        }
        .char21 {
            margin-bottom: 20px;
        }
        .char23 {
            margin-bottom: 20px;
        }
        .char27 {
            margin-bottom: 20px;
        }
        .char29 {
            margin-bottom: 20px;
        }
    }




