/* Body Background */
html {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, .9)), url("../images/back3.jpg");
    background-size: cover;
   
}

/* body {
    z-index: 1;
    height: 100%;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   background: rgba(0, 0, 0, 0.7);  
} */
/* Navbar styling */
.nav {
    background-color: rgb(10, 10, 10);
    display: block;
    width: 55px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.nav a {
   display: block;
   width: 55px; 
}
/* Full list of icons */
.nav ul { 
    margin: 0;
    padding: 0;
    top: 33%;
    position: absolute;
}
.nav li {
    font-size:12pt;
    display:block;
    /* float: left; */
    height:60px;
    width:55px;
    /* text-align: center; */
    transition: all 0.2s ease-in-out;
}
.nav .home {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .about {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .skills {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .projects {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .contact {
    background-color: rgb(10, 10, 10);
   text-align: center;
}
.nav li a {
    font-family: FontAwesome;
    color:#eee;
    font-size:26px;
    text-decoration: none;
    display: block;
    position: relative;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.nav li i {
    padding-top: 7px;
    color: #00ffea;
}
.nav li b {
    font-size: 10px;
    display: none;
    padding-top: 15px;
    padding-bottom: 7.5px;
    font-family: 'Quicksand', sans-serif;
}
.nav a:hover {
    color: #00ffea;
}
.nav a:hover i {
    display: none;
}
.nav a:hover b {
    display: block;
}

/* Links */
.links {
    text-align: center;
    top: 85%  !important;
}
/* End Navbar */




