/* Body Background */
#home-bg {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, .9)), url("../images/back3.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact-bg {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, .6)), url("../images/coffee2.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about-bg {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, .5)), url("../images/road1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#projects-bg {
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, .5)), url("../images/sky.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    background-attachment: fixed;
}
/* Profile Image on Home Page */
.pageImage {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 36%;
    top: 17%;
}
.profilePic {
    height: 300px;
    width: 300px;
    margin: auto;
    background: url("../images/colorMe.jpg");
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea;
}
/* Page content */
.centerPage {
    top: 20%;
    left: 13%;
    position: absolute;
    width: 80%;
    height: 70%;
}
.pageHomeLeft {
    text-align: left;
}

.pageHomeRight {
    text-align: right;
}
/* Welcome to My Portfolio */
.char0, .char1, .char2, .char3, .char4, .char5, .char6, .char7, .char8, .char9, .char10, .char11, .char12, .char13, .char14, .char15, .char16, .char17, .char18, .char19, .char20 {
    position: relative;
    display: inline-block;
    visibility: inherit;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
}
.char21, .char22, .char23, .char24, .char25, .char26, .char27, .char28, .char29, .char30, .char31, .char32, .char33, .char34 {
    position: relative;
    display: inline-block;
    visibility: inherit;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
}
/* Left side words */
.char0 {
    margin-left: 5%;
    margin-bottom: 35px;
}
.char7 {
    margin-left: 9%;
    margin-bottom: 35px;
}
.char9 {
    margin-left: 13%;
    margin-bottom: 35px;
}
.char11 {
    margin-left: 17%;
    margin-bottom: 35px;
}
/* Right side Words */
.char22 {
    margin-right: 8%;
    margin-bottom: 35px;
}
.char26 {
    margin-right: 12%;
    margin-bottom: 35px;
}
.char28 {
    margin-right: 16%;
    margin-bottom: 35px;
}
.char34 {
    margin-right: 20%;
    margin-bottom: 35px;
}
/* Contact page */
.contactContainer {
    left: 10%;
    top: 5%;
    width: 80%;
    height: 70%;
    position: absolute;
}
.form-control {
    font-size: 16px;
    margin-bottom: 35px;
    width: 48%;
    height: 88%;
    padding: 15px;
    border: 1px solid #00ffea;
    background-color: rgb(10, 10, 10);
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    opacity: .9;
    letter-spacing: 1.4px;
}
#submitButton {
    padding: 15px;
    border: 1px solid #00ffea;
    background-color: rgb(10, 10, 10);
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 16px;
}
.contactMe {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 50px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
}
.contactText {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    width: 49%;
    letter-spacing: 1.4px;
    line-height: 1.6;
}
/* About Me */
.aboutContainer {
    top: 5%;
    left: 10%;
    width: 80%;
    height: 70%;
    position: absolute;
}
.aboutMe {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 50px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
}
.aboutText {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    width: 49%;
    letter-spacing: 1.4px;
    line-height: 1.6;
}
#aboutMePic1 {
    height: 350px;
    width: 350px;
    margin: auto;
    background: url("../images/tiger.jpeg");
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea;
}
#aboutImage1 {
    width: 350px;
    height: 350px;
    position: absolute;
    right: -7%;
    top: 2%;
}
#aboutMePic2 {
    height: 300px;
    width: 300px;
    margin: auto;
    background: url("../images/golf.JPG");
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea;
}
#aboutImage2 {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 19%;
    top: 30%;
}
#aboutMePic3 {
    height: 95%;
    width: 95%;
    margin: auto;
    background: url("../images/lambo.jpg");
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea;
}
#aboutImage3 {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 1%;
    top: 61%;
}
#aboutMePic4 {
    height: 95%;
    width: 95%;
    margin: auto;
    background: url("../images/china.jpg");
    background-size: cover;
    border-radius: 50%;
    border: solid 1px #00ffea;
}
#aboutImage4 {
    width: 350px;
    height: 350px;
    position: absolute;
    right: 17%;
    top: 82%;
}
/* projects page */
.projectHeaderContainer {
    top: 5%;
    left: 10%;
    width: 85%;
    height: 34%;
    position: absolute;
}
.projectsTitle {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 50px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
}
.projectText {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    width: 100%;
    letter-spacing: 1.4px;
    line-height: 1.6;
}
.projectContentContainer {
    height: 60%;
    width: 85%;
}
.project1 {
    width: 131%;
    display: inline-block;
}
.project1Title {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.project1Desc {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 16px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    width: 50%;
    float: left;
}
.project1Image {
    height: 250px;
    width: 464px;
    background: url(../images/screen.png);
    background-size: cover;
    float: left;
    margin-left: 5%;
    margin-top: 5px;

}
.project2 {
    width: 131%;
    display: inline-block;
    margin-top: 20px;
}
.project2Title {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 20px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.project2Desc {
    font-family: 'Rubik', sans-serif;
    color: #00ffea;
    font-size: 16px;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    line-height: 1.6;
    width: 50%;
    float: left;
}
.project2Image {
    height: 250px;
    width: 464px;
    background: url(../images/train.png);
    background-size: cover;
    float: left;
    margin-left: 5%;
    margin-top: 5px;

}









/* body {
    z-index: 1;
    height: 100%;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   background: rgba(0, 0, 0, 0.7);  
} */
/* Navbar styling */
.nav {
    background-color: rgb(10, 10, 10);
    display: block;
    width: 58px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.nav a {
   display: block;
   width: 55px; 
}
/* Full list of icons */
.logo {
    top: 0%;
    left: 0%;
}
#siteLogo {
    width: 55px;
    height: 99px;
    padding-left: 4px;
}
.nav ul { 
    margin: 0;
    padding: 0;
    top: 33%;
    position: absolute;
}
.nav li {
    font-size:12pt;
    display:block;
    /* float: left; */
    height:60px;
    width:55px;
    /* text-align: center; */
    transition: all 0.2s ease-in-out;
}
.nav .home {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .about {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .skills {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .projects {
    background-color: rgb(10, 10, 10);
    text-align: center;
}
.nav .contact {
    background-color: rgb(10, 10, 10);
   text-align: center;
}
.nav li a {
    font-family: FontAwesome;
    color:#eee;
    font-size:26px;
    text-decoration: none;
    display: block;
    position: relative;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.nav li i {
    padding-top: 7px;
    color: #00ffea;
}
.nav li b {
    font-size: 10px;
    display: none;
    padding-top: 15px;
    padding-bottom: 7.5px;
    font-family: 'Quicksand', sans-serif;
}
.nav a:hover {
    color: #00ffea;
}
.nav a:hover i {
    display: none;
}
.nav a:hover b {
    display: block;
}

/* Links */
.links {
    text-align: center;
    top: 80%  !important;
}
/* End Navbar */




